:root {
    --small: 0.5;
    --large: 0.9;
    --stroke-width: 3;
    --total-path-length: 87.5;
    --corner-dash-length: 0;
    --segment-dash-length: 0;
    --duration: 2.25s;
    --timing-function: ease-out;
    --bar-border-radius: 15px
}

.loading-Container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pentagon-loader {
    height: 25vh;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pentagon-loader polygon {
    stroke-width: 0;
    fill: none;
}

.pentagon-loader svg {
    width: 100%;
    height: 100%;
}

.pentagon-loader svg.center-pentagon {
    position: absolute;
    /* transform-origin: 50% 60%; */
    /* animation: inside-rotate var(--duration) var(--timing-function) infinite; */
}

.pentagon-loader .center {
    fill: none;
    stroke-width: var(--stroke-width);
    stroke-linecap: square;
    stroke: var(--green);
    stroke-dasharray: 6 11.32;
    stroke-dashoffset: 20.32;
    animation: outline-rotate var(--duration) var(--timing-function) infinite;
}

.progressbar-container {
    width: 50vw;
    height: 25px;
    border: solid var(--green);
    border-radius: var(--bar-border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    >span {
        z-index: 999;
        position: relative;
        font-weight: 400;
    }

    >div {
        height: 100%;
        border-radius: var(--bar-border-radius);
        position: absolute;
        background-color: var(--green);
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}



@keyframes inside-rotate {
    0% {
        transform: scale(var(--large)) rotate(0);
    }

    15% {
        transform: scale(var(--small)) rotate(28.8deg);
        filter: blur(5px);
        opacity: 0.6;
    }

    50% {
        transform: scale(var(--large)) rotate(72deg);
        filter: blur(0px);
        opacity: 0.8;
    }

    65% {
        transform: scale(var(--small)) rotate(100.8deg);
        filter: blur(5px);
        opacity: 0.6;
    }

    99.999% {
        transform: scale(var(--large)) rotate(144deg);
    }

    100% {
        transform: scale(var(--large));
    }
}

@keyframes outline-rotate {

    0%,
    100% {
        stroke-dasharray: 6 11.32;
        stroke-dashoffset: 3;
    }

    15%,
    50% {
        stroke-dasharray: 5.32 12;
        stroke-dashoffset: 11.32;
    }

    65%,
    100% {
        stroke-dasharray: 6 11.32;
        stroke-dashoffset: 3;
    }
}